<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>

<body class="bg-light">


<div class="container my-12">
    <div class="card">
        <div class="card-header">
            <div th:replace="fragments/header :: header"></div>
        </div>
        <div class="card-deck">
            <div th:replace="fragments/sidebar :: sidebar" class="p-4"></div>
        </div>
        <div class="card-body">

            <div th:switch="${taskList}" class="container my-12">
                <p class="my-5">
                    <a href="/task/add" class="btn btn-primary">
                        <i class="fas fa-user-plus ml-2">Добавить задачу</i>
                    </a>
                </p>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <form action="/get_tasks" method="GET">
                            <table class="table table-striped table-responsive-md">
                                <tr>
                                    <td>
                                        <select id="owner" name="owner">
                                            <option value="">--Любой владелец--</option>
                                            <option
                                                    th:each="user : ${users}"
                                                    th:value="${user.getId()}"
                                                    th:text="${user.getFullName()}"
                                                    th:attr="selected=${user.getId()==owner_id}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <select id="performer" name="performer">
                                            <option value="">--Любой исполнитель--</option>
                                            <option
                                                    th:each="user : ${users}"
                                                    th:value="${user.getId()}"
                                                    th:text="${user.getFullName()}"
                                                    th:attr="selected=${user.getId()==performer_id}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="status" id="taskStatus">
                                            <option value="ALL">-- ВСЕ --</option>
                                            <option
                                                    th:each="status : ${T(name.imh0t3mp.course.geekbrains.task_tracker.TaskStatus).values()}"
                                                    th:value="${status.name()}"
                                                    th:text="${status.toString()}"
                                                    th:attr="selected=${status.name().equals(stat)}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="submit" class="btn btn-primary"
                                               value="Выбрать"/>
                                    </td>

                                </tr>
                            </table>
                        </form>
                    </div>
                    <h2 th:case="null">Нет задач в базе!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Название</th>
                                <th>Описание</th>
                                <th>Владелец</th>
                                <th>Исполнитель</th>
                                <th>Статус</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="task: ${taskList}">
                                <td th:text="${task.id}"></td>
                                <td th:text="${task.name}"></td>
                                <td th:text="${task.description}"></td>
                                <td th:text="${task.getOwner().getFullName()}"></td>
                                <td th:text="${task.getperformer().getFullName()}"></td>
                                <td th:text="${task.getTaskStatus()}"></td>
                                <td>
                                    <a th:href="@{/task/change/{id}(id=${task.id})}"
                                       class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                    <a th:href="@{/task/delete/{id}(id=${task.id})}"
                                       class="btn btn-primary">
                                        <i
                                                class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/footer :: scripts"></script>

</body>
</html>