<!DOCTYPE HTML>
<html>
<head>
    <title>Изменить статус задачи</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">

</head>

<body>
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form th:action="@{/task/update/{id}(id=${task.id})}"
                      th:object="${task}"
                      method="post">
                    <div class="row">

                        <div class="form-group col-md-8">
                            <label for="status" class="col-form-label">Статус задачи</label>
                            <select th:field="*{taskStatus}" id="status">
                                <option
                                        th:each="status : ${T(name.imh0t3mp.course.geekbrains.task_tracker.TaskStatus).values()}"
                                        th:value="${status.name()}"
                                        th:text="${status.toString()}"></option>
                            </select>
                            <span
                                    th:if="${#fields.hasErrors('taskStatus')}"
                                    th:errors="*{taskStatus}"
                                    class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Изменить статус">
                        </div>

                        <div class="form-group col-md-8"></div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
