<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <!--log4j:configuration-->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} %c %p: %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="log/tester.log"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="2"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd/HH:mm:ss} %5p [%t] %c{1} - %m%n"/>
        </layout>
    </appender>
    <category name="org.hibernate">
        <priority value="INFO"/>
    </category>
    <category name="java.sql">
        <priority value="WARN"/>
    </category>
    <!--Корневой logger-->
    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="console"/>
        <!--        <appender-ref ref="file"/>-->
    </root>
</log4j:configuration>