<!DOCTYPE HTML>
<html>
<head>
    <title>Список задач</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">

</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${taskList}" class="container my-5">
                <p class="my-5">
                    <a href="/task/" class="btn btn-primary"><i
                            class="fas fa-user-plus ml-2">Добавить задачу</i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">Список задач пуст!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Описание</th>
                                <th>Владелец</th>
                                <th>Исполнитель</th>
                                <th>Статус</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="task: ${taskList}">
                                <td th:text="${task.name}"></td>
                                <td th:text="${task.description}"></td>
                                <td th:text="${task.ownerName}"></td>
                                <td th:text="${task.executorName}"></td>
                                <td></td>
                                <td>
                                    <a href="#" class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i></a>
                                    <a href="#" class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
